a {
    color: #149ddd;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

h1 {
    font-family: "Gugi";
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 2000;
    padding: 0 15px;
    background: #040b14;
    opacity: 95%;
    overflow-y: auto;
}

#header .logo img {
    margin: 15px auto;
    display: block;
    width: 100px;
    height: 50px;
}


#header .profile h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Fredoka One";
}

#header .profile h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}


#main {
    margin-left: 300px;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }
}


.nav-menu {
    padding-top: 50px;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #ffff;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Oswald";
}

.nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #FF8000;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
    color: #fff;
}


.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #212431;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}


#bod {
    width: 100%;
    height: 100vh;
    background: url("../img/music_bg.jpg") top center;
    background-size: cover;
    font-family: "Assistant";
}

#bod:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#bod .bod-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#bod h1 {
    margin: 50px 0 10px 370px;
    font-size: 40px;
    font-family: "Assistant";
    line-height: 56px;
    color: #000;

}

#bod p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Gugi";
}

#bod p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
    #bod {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #bod h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #bod h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}


section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background: #f5f8fd;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}

.search {
    -moz-box-sizing: border-box;
    background: url("../img/big_search.png") no-repeat scroll 10px 10px #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 34px;
    display: block;
    font-size: 14px;
    font-family: "Rosario";
    font-style: italic;
    height: 34px;
    padding-left: 28px;
    padding-bottom: 4px;
    width: 18%;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    padding-top: 5px;
    margin-left: 370px;
    float: center;
}

table {
    position: block;
}

td {
    font-family: "Oswald";
}

td a i {
    color: darkorange;
}

td a i:hover {
    color: white;
    cursor: pointer;
}

.cntr {
    text-align: center;
    font-size: 20px;
}

.duration {
    text-align: center;
    font-size: 18px;
}

.progress-bar {
    color: black;
    font-family: "Oswald"
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    color: darkblue;
}

#div1 {
  width: 465px;
  height: 70px;
  padding: 5 px;
  border: 1px solid #aaaaaa;
  position: center;
}


@media (max-width: 1199px) {
    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }
}
