<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Music Player</title>

    <link href="assets/img/logo%20ko.png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="../FE/assets/js/vue.global.js"></script>

</head>

<body>


    <div id="head">
        <header id="header" :class="{show_sidebar: sidebar}">
            <div class="d-flex justify-content-end pt-3">
                <button type="button" class="btn btn-sm d-lg-none d-inline-block" @click="hide"><i class="fas fa-times-circle text-light"></i></button>
            </div>
            <div class="d-flex flex-column">

                <div class="logo">
                    <img src="assets/img/logo%20ko.png" alt="Avatar">
                </div>

                <nav class="nav-menu">

                    <li><a data-bs-toggle="modal" data-bs-target="#Upload"><i class="fas fa-upload"></i> <span>Upload Music</span></a></li>
                    <li @click="displaysong"><a ><i class="fas fa-music"></i><span>All Song</span></a></li>
                    <br><br>
                    <li><a data-bs-toggle="modal" data-bs-target="#Create"><i class="fas fa-folder-plus"></i>Create Playlist</a></li>
                    <br>

                    <ul v-for="(playlist, index) in playlistarray">
                        <li @click="showplaylist(index)"><a class="d-inline-block text-truncate w-100"><i class="fas fa-list"></i>{{playlist.playlistname}}</a></li>
                    </ul>
                </nav>
            </div>

        </header>

        <section id="bod">
            <div class="bod-container" class="d-flex flex-column justify-content-center align-items-center">
                <div id="topbtn">
                    <button type="button" class="btn btn-outline-dark d-lg-none d-inline-block" @click="show"><i class="fas fa-bars text-dark"></i></button>
                    <div id="head" class="mt-3 col-lg-4 col-md-6">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-dark" type="submit">Search</button>
                        </form>

                    </div>
                </div>

                <div class="px-0 m-0 pt-5" id="contents">
                    <div class="d-flex flex-row align-items-center">
                        
                        <h1 class="me-2"><strong>{{header}}</strong></h1>
                        
                        <div class="dropdown" v-show=" playlstindex != null ">
                            <span class="fas fa-caret-square-down" data-bs-toggle="dropdown" aria-expanded="false"></span>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li @click="shownotinplaylistsongs" data-bs-toggle="modal" data-bs-target="#Addsongtoplaylist"><a class="dropdown-item">Add Song</a></li>
                                <li class="pt-0">
                                    <hr class="dropdown-divider">
                                </li>
                                <li data-bs-toggle="modal" data-bs-target="#Rename" ><a class="dropdown-item">Rename</a></li>
                                <li @click="deleteplaylist(index, 'playlist')" class="pt-0 pb-3"><a class="dropdown-item">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="tblcon" class="">
                        <table class="table table-dark table-hover table-bordered m-0 p-0" id="tblid">
                            <thead class="cntr">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Artist</th>
                                    <th scope="col">Album</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="song.length == 0">
                                    <td colspan="6" class="text-center">Empty...</td>
                                </tr>
                                <tr v-for="(music, index) in song">
                                    <td class="cntr"><a><i class="fas fa-play"></i></a></td>
                                    <td>{{music.title}}</td>
                                    <td>{{music.artist}}</td>
                                    <td>{{music.album}}</td>
                                    <td>{{music.duration}}</td>
                                    <td class="cntr"><a @click="deletesong(index)"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="mt-3" id="controller">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="container d-flex justify-content-center mt-3">
                        <i class="fas fa-backward fa-3x mx-2"></i>
                        <i onclick="myFunction()" class="fa fa-play fa-3x mx-2" id="playpause"></i>
                        <i class="fas fa-forward fa-3x mx-2"></i>
                    </div>
                </div>
            </div>
        </section>
        <audio id="mp3" preload="metadata"></audio>

        <div class="modal" id="Upload">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload Music</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="div1" @drop="drop" @dragover="drag">
                            <a v-if="upload.length != 0">{{upload[0].name}}</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" @click="up" class="btn btn-warning" data-bs-dismiss="modal">Upload</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="Create">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Playlist</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" v-model="addp" class="form-control" placeholder="Enter Name of Playlist...">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" @click="addplaylist" class="btn btn-warning" data-bs-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal" id="Rename">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Rename Playlist</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" v-model="renameplaylist" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" @click="savechanges" class="btn btn-warning" data-bs-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal" id="Addsongtoplaylist">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Song to Playlist</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="tblcon" class="">
                        <table class="table table-dark table-hover table-bordered m-0 p-0" id="tblid">
                            <thead class="cntr">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(music, index) in notinplaylistsongs">
                                    <td>{{music.title}}</td>
                                    <td>{{music.duration}}</td>
                                    <td class="cntr"><a @click="addsongtop(index)"><i class="fas fa-plus-circle"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <script>
        function myFunction() {
            var el = document.getElementById("playpause");
            el.classList.add("fas fa-pause");
            el.classList.remove("fas fa-play");
        }

    </script>

    <script src="../FE/assets/js/jsmediatags.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../FE/assets/js/app.js"></script>


</body>

</html>
