<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Music Player</title>

    <link href="assets/img/logo%20ko.png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet" />

    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="../FE/assets/js/vue.global.js"></script>

</head>

<body>
    <div id="head">
        <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

        <header id="header">
            <div class="d-flex flex-column">

                <div class="logo">
                    <img src="assets/img/logo%20ko.png" alt="Avatar">
                </div>

                <nav class="nav-menu">

                    <li><a data-toggle="modal" href="#Upload"><i class="fas fa-upload"></i> <span>Upload Music</span></a></li>
                    <li><a href="#"><i class="fas fa-music"></i> <span>All Song</span></a></li>
                    <br><br>
                    <li><a data-toggle="modal" href="#Create"><i class="fas fa-folder-plus"></i>Create Playlist</a></li>
                    <br>
                    <ul v-for="playlist in playlistarray">
                        <li><a href="#"><i class="fas fa-list"></i>{{playlist.playlistname}}</a></li>
                    </ul>
                </nav>

                <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

                <div class="modal fade" id="Upload" style=" color: black;">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">


                            <div class="modal-header">
                                <h4 class="modal-title">Upload Music</h4>
                                <button type="button" @click="up" class="close" data-dismiss="modal">&times;</button>
                            </div>


                            <div class="modal-body">
                                
                                <div id="div1" @drop="drop" @dragover="drag">
                                    <a v-if="upload.length != 0">{{upload[0].name}}</a>
                                </div>
                                
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" @click="up" class="btn btn-warning" >Upload</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="Create" style=" color: black;">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">


                            <div class="modal-header">
                                <h4 class="modal-title">Create Playlist</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>


                            <div class="modal-body">
                                <input type="text" v-model="addp" class="form-control" placeholder="Enter Name of Playlist...">
                            </div>


                            <div class="modal-footer">
                                <button type="button" @click="addplaylist" class="btn btn-warning" data-dismiss="modal">Create</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </header>

        <section id="bod">
            <div class="bod-container" class="d-flex flex-column justify-content-center align-items-center">
                <input type="text" class="search center" name="search" placeholder="Search..." autocomplete="off" />
                <div id="head">
                    <h1><strong>{{header}}</strong></h1>
                </div>

                <div class="container" style="margin-left: 550px;">
                    <div class="table-responsive">
                        <table class="table table-dark table-hover table-bordered">
                            <thead class="cntr">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Artist</th>
                                    <th scope="col">Album</th>
                                    <th scope="col">Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="music in song">
                                    <td class="cntr"><a><i class="fas fa-play"></i></a></td>
                                    <td>{{music.title}}</td>
                                    <td>{{music.artist}}</td>
                                    <td>{{music.album}}</td>
                                    <td>{{music.duration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="container" style="margin-left: 550px;">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                            1:43
                        </div>
                    </div>
                </div>

                <div class="container" style="margin-left: 1000px; margin-top: 25px;">
                    <a class="med-btn">
                        <i class="fas fa-backward" style="font-size:60px;color: darkorange; margin-right: 30px;"></i>
                        <i onclick="myFunction(this)" class="fa fa-play" style="font-size:60px;color: darkorange; margin-right: 30px;"></i>
                        <i class="fas fa-forward" style="font-size:60px;color: darkorange;"></i>
                    </a>
                </div>
            </div>
        </section>
        <audio id="mp3" preload="metadata"></audio>
    </div>

    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function myFunction(x) {
            x.classList.toggle("fas fa-pause");
        }

    </script>

    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("file", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("file");
            ev.target.appendChild(document.getElementById(data));
        }

    </script>

    <script src="../FE/assets/js/app.js"></script>
    <script src="../FE/assets/js/jsmediatags.min.js"></script>

</body>

</html>
