a {
    color: #149ddd;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

h1 {
    font-family: "Gugi";
}

#header {
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    z-index: 2000;
    padding: 0 15px;
    background: #040b14;
    opacity: 95%;
    overflow-y: auto;
}

#header .logo img {
    margin: 15px auto;
    display: block;
    width: 100px;
    height: 50px;
}

.show_sidebar{
    left: 0 !important;
    
}
.hide_sidebar{
    left: -300px !important;
}

.nav-menu {
    padding-top: 50px;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #ffff;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Oswald";
}

.nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #FF8000;
}
.nav-menu a {
    text-decoration: none;
    color: white !important; 
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
    color: #fff;
}

#bod {
    width: 100%;
    height: 100vh;
    background: url("../img/music_bg.jpg") top center;
    background-size: cover;
    font-family: "Assistant";
    padding: 20px;
}

#bod h1 {
    font-size: 40px;
    font-family: "Assistant";
    color: #000;
}

#bod p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Gugi";
}

#bod p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}

#tblcon {
    max-height: calc(100vh - (300px + 3rem));
    overflow-y: auto;
}

section {
    padding: 60px 0;
    overflow: hidden;
}


td {
    font-family: "Oswald";
}

td a i {
    color: darkorange;
}

td a i:hover {
    color: white;
    cursor: pointer;
}

.cntr {
    text-align: center;
    font-size: 20px;
}

.duration {
    text-align: center;
    font-size: 18px;
}

.progress-bar {
    color: black;
    font-family: "Oswald"
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    color: white;
}

#div1 {
    width: 465px;
    height: 70px;
    padding: 5 px;
    border: 1px solid #aaaaaa;
    position: center;
}

@media (min-width: 992px) {

    #header {
        left: 0;
    }

    #bod {
        padding-left: 350px;
        padding-right: 50px;
    }


}
