<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Removal 2</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@next"></script>
    <link href="style.css" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>

<body>
    <div id="app">
        <div v-cloak class="dum">
            <div v-if="loggedIn == true">
                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <div class="container">
                        <a class="navbar-brand" href="#"><strong>Dummy Page 2</strong></a>
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <ul v-if="loggedIn==false" class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                <li class="nav-item">
                                    <a @click="showRegister" class="nav-link active" aria-current="page" href="#">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a @click="showLogin" class="nav-link" href="#">Login</a>
                                </li>
                            </ul>
                            <ul v-if="loggedIn==true" class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="register.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="dummypage1.html">Page1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="dummypage2.html">Page2</a>
                                </li>
                                <li class="nav-item">
                                    <a @click="logout" class="nav-link active" aria-current="page" href="#">Logout</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <div class="d-flex justify-content-center align-items-center flex-column mt-5 pt-5">
                        <p class="text-muted text-center">You are logged in.</p>
                        <p class="text-muted text-center">{{name}}</p>
                    </div>
                </div>
            </div>
            <div v-if="loggedIn == false" class="d-flex justify-content-center align-items-center vh-100">
                <p class="text-muted text-center mt-5">404 | Not Found</p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        const instance = axios.create({
            baseURL: 'http://127.0.0.1:8000/api/auth'
        });
        function setHeaders(){
            var accessToken = localStorage.getItem("access_token");
            instance.defaults.headers.common['Authorization'] = `Bearer ${accessToken}`;
        }
        setHeaders();
    </script>
    <script src="app.js"></script>

</body>

</html>
