<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Removal 2</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@next"></script>
    <link href="style.css" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>

<body>
    <div id="app">
        <div v-cloak class="bg">
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#"><strong>Removal</strong></a>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul v-if="loggedIn==false" class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            <li class="nav-item">
                                <a @click="showRegister" class="nav-link active" aria-current="page" href="#">Register</a>
                            </li>
                            <li class="nav-item">
                                <a @click="showLogin" class="nav-link active" href="#">Login</a>
                            </li>
                        </ul>
                        <ul v-if="loggedIn==true" class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="register.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="dummypage1.html">Page1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="dummypage2.html">Page2</a>
                            </li>
                            <li class="nav-item">
                                <a @click="logout" class="nav-link active" aria-current="page" href="#">Logout</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <div>
                <div v-show="show==false" class="container">
                    <div class="d-flex justify-content-center mt-5">
                        <div class="col-lg-6">
                            <h3 class="mb-4">Register</h3>
                            <p class="text-danger">{{error}}</p>
                            <small class="text-muted"><i>Personal Details</i></small>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">First name</label>
                                <input ref="fname" v-model="fname" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Middle name</label>
                                <input ref="mname" v-model="mname" type="text" class="form-control">
                            </div>
                            <div class="mb-5">
                                <label class="form-label">Last name</label>
                                <input ref="lname" v-model="lname" type="text" class="form-control">
                            </div>
                            <small class="text-muted"><i>Login Details</i></small>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Email address</label>
                                <input ref="email" v-model="email" type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input ref="password" v-model="password" type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm password</label>
                                <input ref="conpassword" v-model="conpassword" type="password" class="form-control" placeholder="Confirm password">
                            </div>
                            <button @click="register" class="btn w-100 btn-primary">Register</button>
                        </div>
                    </div>
                </div>
                <div v-show="show==true" class="container">
                    <div class="d-flex justify-content-center mt-5">
                        <div class="col-lg-6">
                            <h3 class="mb-4">Login</h3>
                            <p class="text-danger">{{error}}</p>
                            <div class="mb-3">
                                <label class="form-label">Email address</label>
                                <input v-model="email" type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input v-model="password" type="password" class="form-control" placeholder="Password">
                            </div>
                            <button @click="login" class="btn w-100 btn-primary">Login</button>
                        </div>
                    </div>
                </div>
                <div v-if="loggedIn == true" class="d-flex justify-content-center align-items-center flex-column mt-5 pt-5">
                    <p class="text-muted text-center">You are logged in.</p>
                    <p class="text-muted text-center">{{name}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script type="text/javascript">
        const instance = axios.create({
            baseURL: 'http://127.0.0.1:8000/api/auth'
        });
        function setHeaders(){
            var accessToken = localStorage.getItem("access_token");
            instance.defaults.headers.common['Authorization'] = `Bearer ${accessToken}`;
        }
        setHeaders();
    </script>
    <script src="app.js"></script>

</body>

</html>
