.bg{
    background: url(marble-2398946__480.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.dum{
    background: url(bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}